/* .footer {
  padding: 3rem 1rem;
  background-color: #f5f5f5;
  text-align: center;
}

.footer h2 {
  margin-bottom: 2rem;
  color: #333;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer-logo img {
  max-width: 120px;
  height: auto;
}

.footer-info p {
  margin: 0.5rem 0;
  color: #555;
}

.social-icons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-icons a {
  color: #e8649b;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #b34c7d;
}


#precios {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  font-family: sans-serif;
}

.tabla-precio {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.tabla-precio.destacado {
  background-color: #e0ffe0;
  border-color: #2ecc71;
}

.tabla-precio h3 {
  margin-top: 0;
}

.tabla-precio ul {
  list-style: none;
  padding-left: 0;
}

.tabla-precio ul li::before {
  content: "✔️ ";
  color: green;
} */

.eduplanner-password-container {
  position: relative;
}

.eduplanner-password-input {
  padding-right: 50px;
}

.eduplanner-toggle-password {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #9AB5EF;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.eduplanner-toggle-password:hover, 
button.eduplanner-toggle-password:focus{
  color: #9AB5EF;
  background: transparent;
}

/* CUSTOM */
.bg-purple-9A89C3 {
    background: var(--Morado, #9A89C3);
}

.bg-pale-purple {
  background: #E6E6E6 !important;
}

.bg-light-purple {
  background-color: #D9D1DE;
}

.bg-dark-purple {
  background-color: #7B64B1;
}

.bg-pale-yellow {
  background-color: #F8F4E6;
}

.bg-blue {
  background-color: #7FA1EB;
}

.text-blue {
  color: #7FA1EB;
}

.text-dark-blue {
  color: #5280E4;
}

.text-dark-purple {
  color: #7B64B1;
}

.text-pale-purple {
  color: #BAAED6;
}

.border-pale-purple {
  border-color: #BAAED6;
}

.hover\:border-pale-purple:hover {
  border-color: #BAAED6;
}

body {
    font-family: Onest;
}

#beneficios, #testimonios, #precios {
    scroll-margin-top: 180px; /* Ajusta según el tamaño de tu header o margen que quieres */
  }

  /* Calendar */

  .calendar {

  }
  .calendar-header {
    
  }
  .calendar-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .calendar-weekdays, .calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  .calendar-weekdays div, .calendar-dates div {
    text-align: center;
    padding: 10px;
  }
  .calendar-weekdays {
    /* background-color: #eaeef3; */
  }
  .calendar-weekdays div {
    /* font-weight: bold; */
  }
  .calendar-dates > div {
    /* border-bottom: 1px solid #eaeef3; */
    cursor: pointer;
    background-color: #F8F4E6;
    margin: 3px;
  }
  .calendar-dates div:hover {
    background-color: #f1f1f1;
  }
  .current-date {
    background-color: #f1f1f1 !important;
    color: #000;
  }

  .circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  .progress-ring__circle {
    transition: stroke-dashoffset 1s linear;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }